﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Таблицы категорий</title>
</head>
<body>
    <p><a href="/Home/Index">Вернуться на главную страницу</a></p>
    <div>
        <h3>Таблица основных категорий</h3>
        <table>
            <tr>
                <td><p>Назвние категории</p></td>
                <td><p>Идентификатор магазина</p></td>
                <td></td>
            </tr>

            @foreach (var b in ViewBag.categories)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Shop_Id</p></td>
                </tr>

            }
        </table>
        <br>
        <h3>Таблица подкатегорий</h3>
        <table>
            <tr>
                <td><p>Назвние подкатегории1</p></td>
                <td><p>Идентификатор категории</p></td>
                <td></td>
            </tr>

            @foreach (var b in ViewBag.subcategories1)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Category_Id</p></td>
                </tr>

            }
        </table>
        <br>
        <h3>Таблица вложенных подкатегорий</h3>
        <table>
            <tr>
                <td><p>Назвние подкатегории2</p></td>
                <td><p>Идентификатор подкатегории1</p></td>
                <td></td>
            </tr>

            @foreach (var b in ViewBag.subcategories2)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Subcategory1Id</p></td>
                </tr>

            }
        </table>
        <p><a href="/Home/Index">Вернуться на главную страницу</a></p>
    </div>
</body>
</html>
