﻿@model IEnumerable<Parser.Models.Shop>
@{
    Layout = null;
}

<div>
    <h3>Парсер</h3>
    <table>
        <tr class="header">
            <td><p>Название Магазина</p></td>
            <td><p>ID</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Shops)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.ShopId</p></td>
                <td><p><a href="/Home/ParseCategories/@b.ShopId">Найти категории</a></p></td>
            </tr>
            
        }
    </table>
    <p><a href="/Home/DbTables">Перейти к таблицам категорий</a></p>
</div>