﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Результаты</title>
</head>
<body>
    <form method="post">
        <div>
            @ViewBag.X
        </div>
        <p><input type="submit" name="buttonSubmit" value="Вернуться на главную страницу" /></p>
    </form>
</body>
</html>
